<suite name="Test-method Suite" parallel="methods" thread-count="1" >
    <listeners>
        <listener class-name="com.mentormate.common.AnnotationTransformer"/>
    </listeners>
    <test name="Test-method test" group-by-instances="true">
        <classes>
            <class name="mentorMatePageFactory.LandingPageTest"/>
            <class name="mentorMatePageFactory.LoginTest"/>
            <class name="mentorMatePageFactory.UploadImageTest"/>
            <class name="mentorMatePageFactory.SignUpTest"/>
            <class name="mentorMatePageFactory.BaseTest">
            </class>
        </classes>
    </test>
</suite>